.Gif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    
}

.Gif a{
}

.Gif img {
    object-fit: contain;
    width: 250px;
    height: 250px;
}