.title{
    text-align: center;
}
.title a {
    font-size: 40px;
}

.links{
    margin: 0 auto;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    width: 90%;

}

.links > a{
    transition: all 300ms;
}

.links > a:hover{
    transform: scale(1.2,1.2)
}

.home-container{
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
}